span{
	color: yellow;
	font-weight: bold;
	text-decoration: underline;
	text-shadow: 2px 2px white;
	
}

span:hover{
	background-color: blue;
	cursor: pointer;
}


body{
	color: orange;
	background-color: black;
	

}


.green{
	color: green;
}

#red{
	color: red;
}

.bold{
	font-weight: bold;
}

.italic{
	font-style: italic;
	
}